<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/highlight/{{ site.highlightstyle }}.css">
    <title>Diana Meca</title>
</head>

<body>
    <div class="wrapper">
        {% include menu.html %}
        <div class="page-content">
        <h5 style="font-size: 90%; text-align: left; color: rgb(177, 199, 206);">
            {{ page.title }} &#8729; {{ page.date | date: "%A, %B %-d, %Y" }}
        </h5>
        <div class="post">
            {{ content }}
        </div>
      </div>
    </div>
    <script src="{{ site.baseurl }}/assets/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>